#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        homerow: homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        OSM_shift: OSM_shift {
            compatible = "zmk,behavior-sticky-key";
            label = "OSM_SHIFT";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <200>;
            quick-release;
        };

        hold_tab: hold_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAB";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        homerow_RShift: homerow_RShift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_RSHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        LT_LANG_FAST: LT_LANG_FAST {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_LANG_FAST";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <120>;
        };

        homerow_LShift: homerow_LShift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LSHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            quick-tap-ms = <110>;
        };

        homerow_LCtrl: homerow_LCtrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LCTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <130>;
        };

        Lshift_caps_word: Lshift_caps_word {
            compatible = "zmk,behavior-hold-tap";
            label = "LSHIFT_CAPS_WORD";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
        };

        /* 더블탭일 때만 Sticky Shift 토글, 싱글탭은 무시 */
        // 탭: td_shift_latch, 홀드: LSHIFT  ← 한 묶음 안에 두 개!
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <23 24>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <23 9>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <23 10>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <29 30>;
        };

        Copy {
            bindings = <&kp LG(C)>;
            key-positions = <30 31>;
        };

        Past {
            bindings = <&kp LG(V)>;
            key-positions = <31 32>;
        };

        left_parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <8 9>;
            timeout-ms = <25>;
        };

        right_parenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <9 10>;
        };

        Question_mark {
            bindings = <&kp QUESTION>;
            key-positions = <38 39>;
        };

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <24 25>;
            layers = <0>;
        };

        prefix+a {
            bindings = <&kp LC(A)>;
            key-positions = <14 15>;
        };

        Quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <25 26>;
        };

        Underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <37 24>;
        };
    };

    macros {
        tmux_move_pane_left: tmux_move_pane_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp H>;
            label = "TMUX_MOVE_PANE_LEFT";
        };

        tmux_move_pane_down: tmux_move_pane_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp J>;
            label = "TMUX_MOVE_PANE_DOWN";
        };

        tmux_move_pane_up: tmux_move_pane_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp K>;
            label = "TMUX_MOVE_PANE_UP";
        };

        tmux_move_pane_right: tmux_move_pane_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp L>;
            label = "TMUX_MOVE_PANE_RIGHT";
        };

        tmux_next_widnow: tmux_next_widnow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp N>;
            label = "TMUX_NEXT_WIDNOW";
        };

        tmux_previous_widnow: tmux_previous_widnow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp P>;
            label = "TMUX_PREVIOUS_WIDNOW";
        };

        tmux_session_list: tmux_session_list {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp S>;
            label = "TMUX_SESSION_LIST";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC                         &kp Q                   &kp W                &kp E                    &kp R                         &kp T                                   &mmv MOVE_UP                     &kp Y      &kp U                &kp I       &kp O    &kp P                                  &kp BACKSLASH
&Lshift_caps_word LEFT_SHIFT 0  &homerow_LCtrl LCTRL A  &homerow LEFT_ALT S  &homerow LEFT_COMMAND D  &homerow_LShift LEFT_SHIFT F  &kp G                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H      &kp J                &kp K       &kp L    &homerow_RShift RIGHT_SHIFT SEMICOLON  &kp SQT
&trans                          &kp Z                   &kp X                &kp C                    &kp V                         &kp B      &kp SPACE                    &mmv MOVE_DOWN                   &kp N      &kp M                &kp COMMA   &kp DOT  &kp FSLH                               &trans
                                                                             &lt 4 LC(A)              &lt 1 SPACE                   &lt 5 TAB                                                                &kp ENTER  &LT_LANG_FAST 2 F18  &lt 3 PIPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&kp LG(GRAVE)  &kp LG(NUMBER_1)  &kp LG(N2)  &kp LG(E)  &kp LG(NUMBER_8)  &kp LG(LS(T))                                &mmv MOVE_UP                     &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans         &trans
&none          &kp LG(A)         &kp LG(S)   &kp LG(D)  &none             &kp LA(LS(G))                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LG(LEFT)  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LG(RIGHT)  &kp DOUBLE_QUOTES
&trans         &kp LG(Z)         &none       &none      &none             &none          &kp C_MUTE                    &mmv MOVE_DOWN                   &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans         &trans
                                             &trans     &trans            &trans                                                                        &trans        &kp N0        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&kp GRAVE  &kp NUMBER_1     &kp N2       &kp N3    &kp N4      &kp N5                                &mmv MOVE_UP                     &kp N6     &kp N7         &kp N8         &kp N9            &kp N0        &kp PIPE
&kp TILDE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp CARET  &kp AMPERSAND  &kp ASTERISK   &kp PLUS          &kp COLON     &kp DOUBLE_QUOTES
&none      &trans           &trans       &trans    &none       &none        &none                    &mmv MOVE_DOWN                   &none      &none          &kp LESS_THAN  &kp GREATER_THAN  &kp QUESTION  &none
                                         &none     &caps_word  &none                                                                  &none      &none          &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
&trans          &trans        &trans        &trans        &trans        &trans                          &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                            &trans        &trans        &trans                                          &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&kp LC(ESC)  &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &trans  &trans                    &trans          &trans  &kp N7        &kp N8        &kp N9        &trans  &trans
&trans       &trans            &trans            &trans            &trans  &trans            &trans  &trans  &trans  &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&trans       &trans            &trans            &trans            &trans  &trans  &trans            &trans          &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                                                 &trans            &trans  &trans                                    &trans  &kp N0        &trans
            >;
        };

        tmux_nav {
            bindings = <
&trans  &trans  &trans              &trans  &trans  &trans                    &trans          &trans                &tmux_previous_widnow  &trans              &tmux_next_widnow      &trans  &trans
&trans  &trans  &tmux_session_list  &trans  &trans  &trans            &trans  &trans  &trans  &tmux_move_pane_left  &tmux_move_pane_down   &tmux_move_pane_up  &tmux_move_pane_right  &trans  &trans
&trans  &trans  &trans              &trans  &trans  &trans  &trans            &trans          &trans                &trans                 &trans              &trans                 &trans  &trans
                                    &trans  &trans  &trans                                    &trans                &trans                 &trans
            >;
        };
    };
};
